/* Player 额外样式 */

.btn-group-vertical.source-list {
    display: inline-flex;
    vertical-align: top;
    margin-right: 20px;
}

.btn-group-vertical.source-list .btn {
    width: 80px;
    margin-bottom: 5px;
    border-radius: 4px;
}

.btn-group-vertical.source-list .btn.active {
    background-color: #c20c0c;
    border-color: #c20c0c;
}

.playlist {
    display: inline-block;
    vertical-align: top;
    width: calc(100% - 100px);
}

.dialog-playlist li.detail-add {
    border-bottom: 2px dashed #e8e8e8;
    margin-bottom: 10px;
}

.dialog-playlist li.detail-add:last-child {
    border-bottom: none;
    margin-bottom: 0;
}
